services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - ./data/kafka:/var/lib/kafka/data

  spark-master:
    image: apache/spark-py:v3.3.0
    container_name: spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    working_dir: /opt/spark
    command: bin/spark-class org.apache.spark.deploy.master.Master
    environment:
      - SPARK_MASTER_HOST=spark-master
    volumes:
      - ./spark_jobs:/opt/spark/work-dir
      - ./data/spark-ivy:/opt/spark/.ivy2  # Ivy 캐시 디렉토리 마운트

  spark-worker:
    image: apache/spark-py:v3.3.0
    container_name: spark-worker
    depends_on:
      - spark-master
    working_dir: /opt/spark
    command: bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_WORKER_MEMORY=32g
      - SPARK_WORKER_CORES=4
      - SPARK_WORKER_DIR=/tmp/spark-worker
    volumes:
      - ./spark_jobs:/opt/spark/work-dir

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ./data/clickhouse:/var/lib/clickhouse